@import "fonts.scss";
@import "normalize.scss";
@import "modules/variables.scss";
@import "modules/custom.scss";
@import "modules/animation.scss";

@import "modules/header.scss";
@import "modules/catalog.scss";
@import "modules/promo-slider.scss";
@import "modules/brands.scss";
@import "modules/about.scss";
@import "modules/blog.scss";
@import "modules/reviews.scss";
@import "modules/footer.scss";