.blog {
    &.blog--index {
        padding-bottom: 5rem;
        @media (max-width: 991px) {
            padding-bottom: 3rem;
        }
        .basic-title {
            margin-bottom: 3rem;
            @media (max-width: 991px) {
                font-size: 3.3rem;
            }
        }
    }
    .blog__item {
        @media (max-width: 991px) {
            display: none;
            &:nth-child(1),
            &:nth-child(2) {
                display: block;
            }
        }
        @media (max-width: 767px) {
            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }
        .blog__item-content {
            background-color: #eeeeee;
            color: $black;
            border-radius: 20px;
            padding: 20px;
            @media (max-width: 1399px) {
                padding: 15px;
            }
            @media (max-width: 991px) {
                padding: 20px 10px;
            }
        }
        .blog__item-title {
            font-size: 1.2rem;
            font-family: 'Encode Sans', sans-serif;
            font-weight: 500;
            margin-bottom: 30px;
            @media (max-width: 991px) {
                margin-bottom: 15px;
            }
            a {
                color: inherit;
                &:hover {
                    color: $red;
                }
            }

        }
        .blog__item-image {
            width: 100%;
            border-radius: 5px;
        }
        .blog__item-link {
            display: inline-block;
            color: $black;
            font-weight: 600;
            margin-bottom: 30px;
            @media (max-width: 991px) {
                margin-bottom: 15px;
            }
            &:hover {
                color: $red;
            }
        }
    }
    .basic-button {
        position: relative;
        transform: translateX(-50%);
        left: 50%;
        margin-top: 3rem;
        @media (max-width: 991px) {
            transform: unset;
            left: unset;
            margin-top: 1rem;
        }
        @media (max-width: 767px) {
            transform: translateX(-50%);
            left: 50%;
        }
    }
}