.brands {
    &--index {
        padding-top: 3rem;
        padding-bottom: 5rem;
        @media (max-width: 1920px) {
            padding-top: 1rem;
        }
        .basic-title {
            text-align: center;
            @media (max-width: 1399px) {
                margin-bottom: 2rem;
            }
            @media (max-width: 991px) {
                text-align: left;
            }
        }
    }
    .brands__row.row {
        @media (max-width: 991px) {
            flex-wrap: wrap;
        }
    }
    .brands__item {
        @media (max-width: 991px) {
            width: 100%;
            margin-bottom: 2rem;
            &:last-child {
                margin-bottom: 0;
            }
        }
        &--nama {
            .brands__item-pic img {
                @media (max-width: 1699px) {
                    width: 200px;
                }
                @media (max-width: 991px) {
                    width: 130px;
                }
            }
        }
        &--gripower {
            .brands__item-pic img {
                @media (max-width: 1699px) {
                    width: 370px;
                }
                @media (max-width: 991px) {
                    width: 240px;
                }
            }
        }
        .brands__item-pic {
            min-height: 145px;
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            @media (max-width: 991px) {
                min-height: auto;
            }
        }
        .brands__item-text {
            margin-bottom: 30px;
            p:last-child {
                margin-bottom: 0;
            }
        }
        .brands__item-link {
            color: $lightgray;
            text-transform: uppercase;
            font-family: 'Oswald', sans-serif;
            font-weight: 600;
            transition: 0.2s ease;
            &:hover {
                color: $red;
                transition: 0.2s ease;
            }
        }
    }
}