.cart-page {
    padding-top: 3rem;
    h1.basic-title {
        font-size: 4.5rem;
    }
    h2.basic-title {
        font-size: 3.5rem;
        @media (max-width: 575px) {
            margin-top: 2rem;
        }
    }
    .cart-table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0 40px;
        @media (max-width: 1399px) {
            border-spacing: 0 30px;
        }
        @media (max-width: 575px) {
            border-collapse: collapse;
        }
        th {
            text-transform: uppercase;
            font-family: 'Oswald', sans-serif;
            font-size: 1.5rem;
            font-weight: 400;
            @media (max-width: 991px) {
                text-align: center;
            }
            @media (max-width: 575px) {
                padding-bottom: 15px;
                font-size: 1.3rem;
                text-align: left;
            }
        }
        td {
            text-transform: uppercase;
            font-family: 'Oswald', sans-serif;
            font-weight: 400;
            border-top: 1px solid $lightgray;
            border-bottom: 1px solid $lightgray;
            padding: 15px 30px 15px 0;
            @media (max-width: 991px) {
                padding: 15px 5px 15px 0;
            }
            @media (max-width: 575px) {
                vertical-align: top;
                padding: 10px 5px 10px 0;
            }
        }
        td.cart-table__info {
            width: 45%;
            @media (max-width: 1399px) {
                width: 50%;
            }
            @media (max-width: 575px) {
                width: 35%;
            }
        }
        td.cart-table__price,
        td.cart-table__count {
            width: 18%;
            @media (max-width: 1399px) {
                width: 15%;
            }
            @media (max-width: 575px) {
                width: 20%;
            }
        }
        .cart-table__count {
            .add-counter {
                margin-bottom: 0;
                .change {
                    border: unset;
                    font-size: 1.5rem;
                }
                input[type=text] {
                    min-width: 50px;
                    width: 50px;
                    @media (max-width: 1699px) {
                        width: 40px;
                        min-width: 40px;
                    }
                    @media (max-width: 991px) {
                        width: 30px;
                        min-width: 30px;
                    }
                    @media (max-width: 575px) {
                        width: 15px;
                        min-width: 15px;
                    }
                }
            }
        }
        td.cart-table__total {
            width: 15%;
            @media (max-width: 575px) {
                width: 20%;
            }
        }
        td.cart-table__remove {
            width: 4%;
            text-align: right;
            .remove-button {
                background-color: unset;
                border: unset;
                color: $lightgray;
                &:hover {
                    svg {
                        path {
                            fill: $red;
                            transition: 0.2s ease;
                        }
                    }
                }
                svg {
                    path {
                        transition: 0.2s ease;
                    }
                }
            }
        }
        .cart-item__info {
            display: flex;
            align-items: flex-start;
            @media (max-width: 575px) {
                flex-direction: column;
            }
            .cart-item__info-image {
                margin-right: 10px;
                aspect-ratio: 1 / 1;
                transition: 0.2s ease;
                @media (max-width: 575px) {
                    margin-right: 0;
                    margin-bottom: 10px;
                    width: 100px;
                }
                &:hover {
                    opacity: 0.6;
                    transition: 0.2s ease;
                }
            }
            .cart-item__info-title {
                font-size: 1.5rem;
                font-weight: 400;
                @media (max-width: 575px) {
                    font-size: 1.3rem;
                }
                a {
                    color: inherit;
                    &:hover {
                        color: $red;
                    }
                }
            }
            .cart-item__info-brand {
                font-size: 1rem;
                margin-bottom: 1rem;
                @media (max-width: 575px) {
                    font-size: 0.9rem;
                    margin-bottom: 0.5rem;
                }
            }
            .cart-item__info-parameters {
                display: flex;
                align-items: flex-start;
                flex-wrap: wrap;
                color: $lightgray;
                opacity: 0.8;
            }
            .cart-item__info-parameters-item {
                margin-right: 20px;
                margin-bottom: 15px;
                @media (max-width: 575px) {
                    margin-right: 10px;
                    margin-bottom: 10px;
                    font-size: 0.8rem;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
    .cart-page__footer {
        background-color: $lightgray;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}