/*Стили для страницы Контакты - начало*/
.contacts-page {
    .contacts__info {
        font-family: 'Oswald', sans-serif;
        @media (max-width: 1199px) {
            margin-bottom: 2rem;
        }
        h2 {
            margin-bottom: 2rem;
        }
        h3 {
            color: $red;
        }
        p + h3 {
            margin-top: 2rem;
        }
        a {
            color: inherit;
            &:hover {
                opacity: 0.7;
            }
        }
    }
    .contacts__map {
        iframe {
            max-width: 100%;
            aspect-ratio: 1330 / 730;
            @media (max-width: 1920px) {
                height: auto;
            }
        }
    }
}
/*Стили для страницы Контакты - конец*/