.footer-wrapper {
    padding-top: 3rem;
    padding-bottom: 2rem;
    .footer-copyright {
        display: flex;
        flex-direction: column;
        font-family: 'Oswald', sans-serif;
        font-size: 0.9rem;
        @media (max-width: 991px) {
            align-items: center;
        }
        @media (max-width: 767px) {
            margin-bottom: 30px;
        }
        .footer-copyright__logo {
            margin-bottom: 15px;
            transition: 0.2s ease;
            &:hover {
                opacity: 0.7;
                transition: 0.2s ease;
            }
        }
        .footer-copyright__subtitle {
            @media (max-width: 991px) {
                text-align: center;
            }
        }
        .footer-copyright__rights {
            margin-top: auto;
            opacity: 0.8;
            @media (max-width: 991px) {
                align-items: center;
            }
        }
    }
    .footer-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 60px;
        @media (max-width: 1399px) {
            padding-top: 0;
        }
        @media (max-width: 991px) {
            align-items: flex-start;
        }
        @media (max-width: 767px) {
            align-items: center;
        }
        .footer-menu__wrapper ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            @media (max-width: 1399px) {
                display: block;
                column-count: 2;
            }
        }
        .menu-item {
            margin-right: 20px;
            @media (max-width: 1399px) {
                margin-right: 10px;
                margin-bottom: 15px;
            }
            @media (max-width: 991px) {
                margin-right: 5px;
            }
            &:last-child {
                margin-right: 0;
            }
            a {
                color: $lightgray;
                font-family: 'Oswald', sans-serif;
                transition: 0.2s ease;
                &:hover {
                    color: $red;
                    transition: 0.2s ease;
                }
            }
        }
        .social {
            margin-top: 2rem;
            display: flex;
            align-items: flex-start;
            gap: 30px;
            transition: 0.2s ease;
            @media (max-width: 1599px) {
                gap: 25px;
            }
            @media (max-width: 1399px) {
                gap: 20px;
            }
            @media (max-width: 767px) {
                margin-bottom: 20px;
            }
            .social-item {
                &:hover {
                    opacity: 0.7;
                    transition: 0.2s ease;
                }
                img {
                    @media (max-width: 1920px) {
                        width: 60px;
                        height: 60px;
                    }
                    @media (max-width: 1599px) {
                        width: 50px;
                        height: 50px;
                    }
                    @media (max-width: 1399px) {
                        width: 40px;
                        height: 40px;
                    }
                }
            }
        }
    }
    .footer-address {
        display: flex;
        justify-content: flex-end;
        @media (max-width: 767px) {
            justify-content: center;
            margin-bottom: 30px;
        }
        a {
            color: $lightgray;
            display: inline-block;
            transition: 0.2s ease;
            &:hover {
                color: $red;
                transition: 0.2s ease;
            }
        }
        a, .address {
            margin-bottom: 1rem;;
        }
        .footer-address__content {
            text-align: center;
        }
    }
}